<div class="slider-wrapper">
  <label>{{ min_price }}</label>
  <app-slider
    min="100" max="2000" step="10" minValue="100" maxValue="2000"
    (minValueChange)="min_price = $event;" minValue="100"
    (maxValueChange)="max_price = $event" maxValue="2000"
    >
  </app-slider>
  <label>{{ max_price }}</label>
</div>
