<div class="slider">
  <md-slider [(ngModel)]="value1" name="value1" (ngModelChange)="sliderValueChange()" (change)="sliderValueChange()" [step]="step" [min]="min" [max]="max" (change)="change.emit()"thumbLabel tick-interval="auto"></md-slider>
  <md-slider [(ngModel)]="value2" name="value2" (ngModelChange)="sliderValueChange()" (change)="sliderValueChange()" [step]="step" [min]="min" [max]="max" (change)="change.emit()" thumbLabel tick-interval="auto"></md-slider>
  <div #sliderTrackFill class="slider-track-fill"></div>
</div>
