:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
  height: 48px;
  width: 100%;

  md-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.slider-track-fill {
  height: 4px;
  width: calc(100% - 16px);
  transform: translateX(8px);
  position: absolute;
  transform-origin: 0 0;
  transition: width 0.4s ease-in-out, left .4s ease-in-out;
  background-color: #ff4081;
  top: calc(50% - 2px);
}
