@import '~@angular/material/core/theming/all-theme'; // Plus imports for other components in your app.
// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include md-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: md-palette($md-indigo);
$candy-app-accent: md-palette($md-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$candy-app-warn: md-palette($md-red);
// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: md-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

.md-slider-has-ticks.md-slider-active .md-slider-ticks,
.md-slider-has-ticks.md-slider-active .md-slider-track::after,
.md-slider-has-ticks:hover .md-slider-ticks,
.md-slider-has-ticks:hover .md-slider-track::after {
  opacity: 0 !important;
}

.md-slider-track-fill {
  display: none;
}

.slider-wrapper {
  display: flex;
  justify-content: center;

  app-slider {
    width: 100%;
  }

  label {
    padding: 8px;
    min-width: 50px;
    text-align: center;
  }
}
